WetherGrabber/WeatherClient/Service References/WeatherServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WeatherService" />
  <xs:element name="GetCityList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WeatherService" minOccurs="0" name="GetCityListResult" nillable="true" type="q1:ArrayOfCityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeather">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_city" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeatherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WeatherService" minOccurs="0" name="GetWeatherResult" nillable="true" type="q2:WeatherInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>