WetherGrabber/WeatherClient/Service References/WeatherServiceReference/WeatherService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WeatherService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WeatherService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CityInfo" nillable="true" type="tns:CityInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCityInfo" nillable="true" type="tns:ArrayOfCityInfo" />
  <xs:complexType name="CityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url_Code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityInfo" nillable="true" type="tns:CityInfo" />
  <xs:complexType name="WeatherInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Temperature_Day" type="xs:decimal" />
      <xs:element minOccurs="0" name="Temperature_Night" type="xs:decimal" />
      <xs:element minOccurs="0" name="Wether_Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherInfo" nillable="true" type="tns:WeatherInfo" />
</xs:schema>